<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Installed Apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- Widget Support -->
    <uses-permission android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <!-- Debug Logging -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- Internal Updates -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="${installPermission}" />
    <uses-permission android:name="${updatesPermission}" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- Keyguard Bypass -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- System Toggles -->
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- Voice Recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Google Play BS -->
    <uses-permission android:name="samsprung.permission.WRITE_SETTINGS" />
    <uses-permission android:name="samsprung.permission.READ_SETTINGS" />

    <uses-feature android:name="android.software.home_screen" android:required="false" />
    <uses-feature android:name="android.software.app_widgets" android:required="false" />
    <uses-feature android:name="android.software.verified_boot" android:required="false" />
    <uses-feature android:name="android.software.webview" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:process=":SamSprung"
        android:name=".SamSprung"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:dataExtractionRules="@xml/extraction_content"
        android:icon="@mipmap/sprung_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sprung_icon_round"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/Theme.SecondScreen">
        <meta-data
            android:name="android.supports_size_changes" android:value="true" />
        <activity
            android:name=".settings.CoverPreferences"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".update.UpdateShimActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Launcher.NoActionBar"
            android:configChanges="orientation"
            android:exported="false"
            android:showOnLockScreen="true"
            android:showWhenLocked="true">
            <meta-data android:name="com.samsung.android.activity.showWhenLocked" android:value="true"/>
        </activity>
        <activity
            android:name=".SamSprungOverlay"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Launcher.NoActionBar"
            android:configChanges="orientation"
            android:exported="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:windowSoftInputMode="adjustNothing">
            <meta-data android:name="com.samsung.android.activity.showWhenLocked" android:value="true"/>
        </activity>
        <receiver android:name=".update.UpdateReceiver"
            android:exported="true">
            <intent-filter android:directBootAware="true" android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name=".OnBroadcastService"
            android:process=":SamSprung"
            android:exported="true"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Cover screen launcher in background"/>
        </service>
        <service android:name=".drawer.AppDisplayListener"
            android:process=":SamSprung"
            android:exported="true"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:foregroundServiceType="specialUse"
            android:showOnLockScreen="true"
            android:showWhenLocked="true">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="App drawer navigation in background"/>
            <meta-data android:name="com.samsung.android.activity.showWhenLocked" android:value="true"/>
        </service>
        <service
            android:name=".NotificationReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".AccessibilityObserver"
            android:exported="true"
            android:label="@string/accessibility_service"
            android:permission="${accessibilityPermission}">
            <intent-filter>
                <action android:name="${accessibilityFilter}" />
            </intent-filter>

            <meta-data
                android:name="${accessibilityMetaName}"
                android:resource="${accessibilityMetaRes}" />
        </service>

        <meta-data
            android:name="com.android.packageinstaller.notification.smallIcon"
            android:resource="@mipmap/sprung_icon" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <provider
            android:name="com.eightbit.samsprung.drawer.panels.WidgetProvider"
            android:authorities="com.eightbit.samsprung.drawer.panels"
            android:writePermission="samsprung.permission.WRITE_SETTINGS"
            android:readPermission="samsprung.permission.READ_SETTINGS" />
    </application>

</manifest>